//logo, navigation menu, header, content areas, and footer.

@mixin logoBox($qty, $margin){
    width: ((100% - (($qty - 1) * $margin)) / $qty);
    &:nth-child(n){
        margin-bottom: $margin;
        margin-right: $margin;
    }
}

@mixin navigationBox($qty, $margin){
    width: ((100% - (($qty - 1) * $margin)) / $qty);
    &:nth-child(n){
        margin-bottom: $margin;
        margin-right: $margin;
    }
    
}

@mixin headerBox($qty, $margin){
    width: ((100% - (($qty - 1) * $margin)) / $qty);
    &:nth-child(n){
        margin-bottom: $margin;
        margin-right: $margin;
    }
    
}

@mixin contentBox($qty, $margin){
    width: ((100% - (($qty - 1) * $margin)) / $qty);
    &:nth-child(n){
        margin-bottom: $margin;
        margin-right: $margin;
    }
    
}

@mixin footerBox($qty, $margin){
    width: ((100% - (($qty - 1) * $margin)) / $qty);
    &:nth-child(n){
        margin-bottom: $margin;
        margin-right: $margin;
    }
    
}