//font variables
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


// color variables
$salmon-color:#E65C43;
$white-color:#FFF;
$grey-color:#666;
$medium-blue:#30353D;
$grey-white: #F5F6F6;

//font variables
$fontbody: "Roboto";

//image variables
$bg:"/images/bg.gif";
$devices:"/images/devices.png";
$logo:"/images/logo.png";
$social:"/images/social-media.png";
$vconvert:"/images/vconvert.png";
$vprospect:"/images/vprospect.png";



